# macOS
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store

# IDE
.idea/
.vscode/
*.iml

# ENV
.env
!.env.example

# Logs
*.log
npm-debug.log*
yarn-*.log

# Build artifacts
todo-backend/build/
todo-app/build/
todo-app/node_modules/