# Gradle build
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Spring / IDE
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
.springBeans

# Переменные окружения
.env
!.env.example